{:kotoba.app/id "cloud.itonami.isic-4651", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiftcm22kbeyew2ej5q7dhfffg3e4watb3fn4umufalyii2keeelny", :kotoba.app/embed-url "ipfs://bafkreiftcm22kbeyew2ej5q7dhfffg3e4watb3fn4umufalyii2keeelny", :published {:archive "https://kotobase.net/ipfs/bafkreiftcm22kbeyew2ej5q7dhfffg3e4watb3fn4umufalyii2keeelny", :size 73007, :put-status 201, :get-status 200, :at "2026-08-15T13:45:05.503Z"}}
